@import url('https://fonts.googleapis.com/css?family=Amiri:700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html,
body {
    height: 100%;
    font-family: Amiri;
}
html[dir="rtl"]{
    font-family: 'Amiri', serif;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #5f4b162b;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/*Custom style start*/
/*General start*/
nav {
    display: none;
}
.lead{
    color: #fff;
    font-family: Amiri;
}
.btn-main{
    background-color: #faffa8;
    color: #2d5c73;
    border: 1.5px solid #2d5c73;
    width: 100px;
    border-radius: 0px;
    height: 50px;
    font-family: Amiri;
    transition:  1s;
}
.btn-main:hover{
    background-color: #2d5c73;
    color: #faffa8;
    border: 1px solid #faffa8;
    width: 102px;
    height: 51px;


}
.btn-main-reversed{
    background-color: #0f3648;
    color: #fff;
    border: 1.5px solid #fff;
    width: 100px;
    border-radius: 0px;
    height: 50px;
    font-family: Amiri;
    transition:  1s;
}
btn-main-reversed:hover{
    background-color: #fff;
    color: #0c222d;
    border: 1px solid #0c222d;
    width: 102px;
    height: 51px;


}
.jumbotron p {
    color: #faffa8;
}
/*General end */
.site .navbar-inverse.navbar-fixed-top.navbar{
    display: none;
}


.site .wrap.main-content::after {
    content: "";
    background: #0f3648  url(../images/arabesque.png);
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;


}
.wrap.main-content::after {
    content: "";
    background: #0f3648  url(../images/index-bg.jpg);
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;


}
.site-logo img{
    margin: auto;
}
.site-logo{
    display: block;
    text-align: center;
}

/*language switcher*/
.site .language-switch-wrapper{
    color: #fff;
}
.language-switch-wrapper{
    padding: 20px;
    display: inline-block;
    float: right;
    position: relative;
}
.language-label{
    cursor: pointer;
}
.wrap.main-content{
    padding-bottom: 0;
}

/* Question Form Start */
.answer.choice{
    text-align: right;
}
.question-wrapper {
    border-bottom: 1px solid #d3cccc;
    padding: 10px 0px;}
.question-wrapper .question-text,
.question-wrapper .answer{
    display: inline-block;
}

.inheritance-form .submit button{
    font-family: Amiri;
    font-size: 25px;
    padding: 8px 45px;
    transition: 0.5s;
    border-radius: 0;
    background-color: #2d5c73 !important;
}
.inheritance-form .submit{
    margin-bottom: 0px;
    margin-top: 50px;
}
.inheritance-form.jumbotron{
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 30px -1px rgb(53, 48, 12);
    -moz-box-shadow: 0px 0px 30px -1px rgba(53, 48, 12);
    box-shadow: 0px 0px 30px -1px rgba(53, 48, 12, 1);
    /* border-radius: 13px; */
}
.question-text{
    margin: 10px 0;
    font-family: Amiri;
    font-size: 25px;
}
html[dir=rtl] .question-text,
html[dir=rtl] .info{
    text-align: right;
    float: right;
}
.info.col-md-1 {
    position: relative;
    display: inline-block;
}

.info.col-md-1 .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent
}
.info.col-md-1 .tooltiptext {
    line-height: 1.5;
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    font-family: Amiri;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 140%;
    left: 50%;
    margin-left: -60px;
}

.info.col-md-1:hover .tooltiptext {
    visibility: visible;
}
html[dir=rtl] .answer{
    text-align: right;
    float: right;
}
html[dir=rtl] .kv-ind-container.kv-size-large .kv-ind-toggle{
    margin-right: 0;
    margin-left: 16px;
}
.kv-ind-container.kv-size-large .kv-ind-toggle{
    margin-left: 0;
    margin-right: 16px;
}

html[dir=rtl] .kv-ind-container{
    padding-right: 0;
}
html[dir=rtl] .answer label {
    padding: 4px 0 4px 24px;
}
.answer label {
    padding: 4px 24px 4px 0;
}
.answer div {
    text-align: right;
}
.answer.choice.col-md-8 {
    text-align: right;
}
.answer input[type="text"]{
    width: 200px;
    height: 42px;
    background: #fafafa;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    padding: 8px 10px;
    float: right;
}
#hidden{
    display: none;
}

/* Question Form End */

/* Result page start */

.chart{
    width: 50%;
    display: block;
    margin: auto;
}
.inheritance-result.jumbotron h1{
    padding: 0 15px 25px 15px;
}
.inheritance-result.jumbotron{
    overflow: auto;
}
.inheritance-col.table-wrapper{
    padding-top: 30px;
}

.inheritance-col.table-wrapper thead{
    font-size: 25px;
    background-color: #212529;
    color: #fefefe;

}
.inheritance-col.table-wrapper th{
    text-align: center;
}
.inheritance-col.table-wrapper tbody{
    color: #212529;
    background-color: #fefefe;
}


/* Result page End */

/* NoResult Page Start*/
.noresult-col p{
    font-size: 25px;
    line-height: 2;
    margin-bottom: 25px;
    color: #2d5c73;
}
.noresult-col{
    padding: 25px;
    -webkit-box-shadow: 0px 0px 36px 0px rgba(45,92,115,1);
    -moz-box-shadow: 0px 0px 36px 0px rgba(45,92,115,1);
    box-shadow: 0px 0px 36px 0px rgba(45,92,115,1);
}
.noresult-col .submit button {
    font-family: Amiri;
    font-size: 25px;
    padding: 8px 45px;
    transition: 0.5s;
    border-radius: 0;
    background-color: #2d5c73;
}
img.noresult-icon{
    width: 100px;
    margin-bottom: 13px;
}
/* NoResult Page End*/